{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "add-module-exports",
        "lodash",
        "transform-class-properties",
        [
            "transform-es2015-classes",
            {
                "loose": true
            }
        ],
        "transform-proto-to-assign"
    ]
}
